<!DOCTYPE html>
<html ng-app="ascii">
<!-- since we've given the application a module name; so this will use the correct module -->
<head> 
  <title>ascssiii</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body class="bg" ng-controller="AsciiCtrl">
<div class='container'>
	<%= yield %>
</div>
</body>
</html>
